<nb-card>
  <nb-card-body>

    <p style="margin-bottom: 50px">
      <b>Meals</b>
    </p>

    <div style="margin-bottom: 30px">
      <button class="btn-primary">Add</button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Calories</th>
        <th scope="col">Fats</th>
        <th scope="col">Proteins</th>
        <th scope="col">Carbohydrates</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let meal of meals">
        <td>{{meal.name }}</td>
        <td>
          <span>{{meal.calories | number: '1.0-2'}}</span>
        </td>
        <td>
          <span>{{meal.fats | number: '1.0-2'}}</span>
        </td>
        <td>
          <span>{{meal.proteins | number: '1.0-2'}}</span>
        </td>
        <td>
          <span>{{meal.carbohydrates | number: '1.0-2'}}</span>
        </td>
        <td class="w-25">
          <span *ngFor="let item of meal.mealToIngredients" class="ingredient-label">{{item.ingredient.name}} - {{item.amount}}g</span>
        </td>
        <td>
          <button class="btn-light">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <p style="margin-bottom: 50px">
      <b>Days</b>
    </p>

    <div style="margin-bottom: 30px">
      <button class="btn-primary">Add</button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th scope="col">Breakfast</th>
        <th scope="col">Snack1</th>
        <th scope="col">Lunch</th>
        <th scope="col">Snack2</th>
        <th scope="col">Dinner</th>
        <th>Calories</th>
        <th>Fats</th>
        <th>Carbohydrates</th>
        <th>Proteins</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Day 1</td>
        <td>
          <div>Kvas - 65.34g</div>
          <div>Fish - 65.45g</div>
        </td>
        <td>
          <div>Fish - 654.23g</div>
          <div>Bread - 987.23g</div>
        </td>
        <td>
          <div>Honey - 212.43g</div>
        </td>
        <td>
          <div>Bread - 987.23g</div>
        </td>
        <td>
          <div>Fanta - 534.23g</div>
          <div>Kvas - 65.34g</div>
          <div>Honey - 212.43g</div>
        </td>
        <td>456.76<span class="value-deviation positive">+6.00</span></td>
        <td>1746.11<span class="value-deviation negative">-1.18</span></td>
        <td>843.65<span class="value-deviation positive">+10.43</span></td>
        <td>90.32<span class="value-deviation negative">-7.88</span></td>
        <td>
          <button class="btn-light">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Day 2</td>
        <td>
          <div>Kvas - 65.34g</div>
          <div>Fish - 65.45g</div>
        </td>
        <td>
          <div>Fish - 654.23g</div>
          <div>Bread - 987.23g</div>
        </td>
        <td>
          <div>Honey - 212.43g</div>
        </td>
        <td>
          <div>Bread - 987.23g</div>
        </td>
        <td>
          <div>Fanta - 534.23g</div>
          <div>Kvas - 65.34g</div>
          <div>Honey - 212.43g</div>
        </td>
        <td>456.76<span class="value-deviation positive">+6.00</span></td>
        <td>1746.11<span class="value-deviation negative">-1.18</span></td>
        <td>843.65<span class="value-deviation positive">+10.43</span></td>
        <td>90.32<span class="value-deviation negative">-7.88</span></td>
        <td>
          <button class="btn-light">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>
