<nb-card class="meals-table-wrapper">
  <nb-card-body>

    <p style="margin-bottom: 50px">
      <b>Meals</b>
    </p>

    <div style="margin-bottom: 30px">
      <button class="btn-primary" (click)="openAddMealForm()">Add</button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Calories</th>
        <th scope="col">Fats</th>
        <th scope="col">Proteins</th>
        <th scope="col">Carbohydrates</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let meal of meals">
        <td>{{meal.name }}</td>
        <td>
          <span>{{meal.calories | number: '1.0-0'}}</span>
        </td>
        <td>
          <span>{{meal.fats | number: '1.0-0'}}</span>
        </td>
        <td>
          <span>{{meal.proteins | number: '1.0-0'}}</span>
        </td>
        <td>
          <span>{{meal.carbohydrates | number: '1.0-0'}}</span>
        </td>
        <td class="w-25">
          <span *ngFor="let item of meal?.mealToIngredients" class="ingredient-label">{{item.ingredient.name}} - {{item.amount}}g</span>
        </td>
        <td>
          <button
            (click)="deleteMeal(meal.id)"
            class="btn-light">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>

<nb-card class="days-table-wrapper">
  <nb-card-body>

    <p style="margin-bottom: 50px">
      <b>Days</b>
    </p>

    <div style="margin-bottom: 30px">
      <button (click)="this.openAddDayForm()" class="btn-primary">Add</button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th scope="col">Breakfast</th>
        <th scope="col">Snack1</th>
        <th scope="col">Lunch</th>
        <th scope="col">Snack2</th>
        <th scope="col">Dinner</th>
        <th>Calories</th>
        <th>Fats</th>
        <th>Carbohydrates</th>
        <th>Proteins</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let day of days">
        <td>{{day.name}}</td>
        <td>
          <div *ngFor="let mealIngredient of day.breakfast?.mealToIngredients">{{mealIngredient.ingredient.name}} - {{mealIngredient.amount}}g</div>
        </td>
        <td>
          <div *ngFor="let mealIngredient of day.snack1?.mealToIngredients">{{mealIngredient.ingredient.name}} - {{mealIngredient.amount}}g</div>
        </td>
        <td>
          <div *ngFor="let mealIngredient of day.lunch?.mealToIngredients">{{mealIngredient.ingredient.name}} - {{mealIngredient.amount}}g</div>
        </td>
        <td>
          <div *ngFor="let mealIngredient of day.snack2?.mealToIngredients">{{mealIngredient.ingredient.name}} - {{mealIngredient.amount}}g</div>
        </td>
        <td>
          <div *ngFor="let mealIngredient of day.dinner?.mealToIngredients">{{mealIngredient.ingredient.name}} - {{mealIngredient.amount}}g</div>
        </td>
        <td>
          {{day.calories | number: '1.0-0'}}
          <span class="value-deviation"
                [ngClass]="{'positive': day.caloriesDiff > 0, 'negative': day.caloriesDiff < 0}"
                *ngIf="day.caloriesDiff != 0">
            {{day.caloriesDiff > 0 ? '+' : ''}}{{day.caloriesDiff | number: '1.0-0'}}
          </span>
        </td>
        <td>
          {{day.fats | number: '1.0-0'}}
          <span class="value-deviation"
                [ngClass]="{'positive': day.fatsDiff > 0, 'negative': day.fatsDiff < 0}"
                *ngIf="day.fatsDiff != 0">
            {{day.fatsDiff > 0 ? '+' : ''}}{{day.fatsDiff | number: '1.0-0'}}
          </span>
        </td>
        <td>
          {{day.carbohydrates | number: '1.0-0'}}
          <span class="value-deviation"
                [ngClass]="{'positive': day.carbohydratesDiff > 0, 'negative': day.carbohydratesDiff < 0}"
                *ngIf="day.carbohydratesDiff != 0">
            {{day.carbohydratesDiff > 0 ? '+' : ''}}{{day.carbohydratesDiff | number: '1.0-0'}}
          </span>
        </td>
        <td>
          {{day.proteins | number: '1.0-0'}}
          <span class="value-deviation"
                [ngClass]="{'positive': day.proteinsDiff > 0, 'negative': day.proteinsDiff < 0}"
                *ngIf="day.carbohydratesDiff != 0">
            {{day.proteinsDiff > 0 ? '+' : ''}}{{day.proteinsDiff | number: '1.0-0'}}
          </span>
        </td>
        <td>
          <button
            (click)="editDay(day.id)"
            class="btn-light action-btn">
            Edit
          </button>
          <button
            (click)="deleteDay(day.id)"
            class="btn-light action-btn">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>

<nb-card style="height:100vh"></nb-card>
