@import '../../../../@theme/styles/themes';
@import "~@ng-select/ng-select/themes/material.theme.css";

//@include nb-install-component() {
//
//}

.add-meal-form {
  width: 800px;
  .submit-btn {
    position: absolute;
    bottom: 5%;
  }
}

.added-ingredients {
  margin-bottom: 15px;
  min-height: 50px;

  .ingredient-label {
    padding: 5px;
    margin: 5px;
    background: #3a5997;
    color: #fff;
    display: inline-flex;

    .remove-ingredient {
      cursor: pointer;
    }
  }
}

.ng-select {
  padding-bottom: 0.25em;
}

.add-meal-card {
  min-height: 80vh;
}
