<div class="add-meal-form">
  <nb-card class="add-meal-card">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="formGroup">
        <div class="form-group meal-name-group">
          <label for="mealName" class="label">Name</label>
          <input formControlName="name" type="text" nbInput fullWidth id="mealName" placeholder="">
          <span *ngIf="isControlInvalid('name')" class="validation-error-text">
              <span>*</span> Meal name is required
            </span>
        </div>
        <div class="added-ingredients">
          <span class="ingredient-label">Beer - 90g<nb-icon class="remove-ingredient" icon="close"></nb-icon></span>
        </div>
        <label class="label">Ingredient</label>
        <div class="form-group">
          <ng-select [items]="ingredients"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="category">
            <ng-template ng-optgroup-tmp let-item="item">
              {{item.category || 'Unnamed group'}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group">
          <label for="amount" class="label">Amount (g)</label>
          <input type="number" nbInput fullWidth id="amount">
        </div>
        <nb-card>
          <button class="btn-info add-ingredient-btn">ADD</button>
        </nb-card>
        <button class="submit-btn" (click)="dismiss()" type="submit" nbButton status="danger">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
