@import '../../../../@theme/styles/themes';
@import "~@ng-select/ng-select/themes/material.theme.css";

.add-meal-form {
  @media (min-width: 1250px) {
    width: 800px;
  }
  .submit-btn {
    position: absolute;
    bottom: 5%;
  }
  .add-ingredient-btn {
    height: 30px;
  }
  .validation-error-text {
    margin-top: 9px;
    font-size: 12px;
    position: absolute;
    top: 90%;
    font-weight: 100;
    display: block;
    color: red;
  }
  .meal-name-group {
    position: relative;
    margin-bottom: 2rem;
  }
}

.added-ingredients {
  margin-bottom: 15px;
  min-height: 50px;

  .ingredient-label {
    padding: 5px;
    margin: 5px;
    background: #3a5997;
    color: #fff;
    display: inline-flex;

    .remove-ingredient {
      cursor: pointer;
    }
  }
}

.ng-select {
  padding-bottom: 0.25em;
}

.add-meal-card {
  min-height: 80vh;
}

.table {
  .ingredient-label {
    padding: 5px;
    margin: 5px;
    background: #3a5997;
    color: #fff;
    display: inline-flex;
  }

  .value-deviation {
    font-size: 0.8em;
    vertical-align: super;
    padding: 0 3px;
  }

  .value-deviation.positive {
    color: forestgreen;
  }

  .value-deviation.negative {
    color: red;
  }
}

@media screen and (max-width: 1250px) {
  .elements-diff-wrapper {
    overflow-x: scroll;
    max-width: 280px;
  }

  .add-meal-form button.submit-btn {
    position: relative;
  }
}
