<div class="form-group">
  <label for="ing" class="label">Ingredient</label>
  <input
    id="ing"
    [formControl]="inputFormControl"
    nbInput
    fullWidth
    type="text"
    [nbAutocomplete]="auto" />

  <nb-autocomplete #auto>

    <nb-option-group *ngFor="let group of filteredGroups$ | async; trackBy: trackByFn"  [title]="group.name" >
      <nb-option *ngFor="let option of group.children" [value]="option">
        {{ option }}
      </nb-option>
    </nb-option-group>

  </nb-autocomplete>

</div>
