<div class="add-meal-form" xmlns="http://www.w3.org/1999/html">
  <nb-card class="add-meal-card">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="formGroup">
        <div class="form-group meal-name-group">
          <label for="mealName" class="label">Name</label>
          <input formControlName="name" type="text" nbInput fullWidth id="mealName" placeholder="">
          <span *ngIf="isControlInvalid('name')" class="validation-error-text">
              <span>*</span> Meal name is required
            </span>
        </div>
        <div class="added-ingredients">
          <span *ngIf="mealIngredients.length === 0">...</span>
          <span *ngFor="let mealIngredient of mealIngredients" class="ingredient-label">
            {{mealIngredient.ingredient.name}} - {{mealIngredient.amount}}g
            <nb-icon (click)="removeIngredient(mealIngredient.ingredient.id)" class="remove-ingredient" icon="close"></nb-icon>
          </span>
        </div>
        <label class="label">Ingredient</label>
        <div class="form-group">
          <ng-select [items]="ingredients"
                     bindLabel="title"
                     formControlName="ingredient"
                     groupBy="category">
            <ng-template ng-optgroup-tmp let-item="item">
              {{item.category || 'Unnamed group'}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group">
          <label for="amount" class="label">Amount (g)</label>
          <input formControlName="amount" type="number" nbInput fullWidth id="amount">
        </div>
        <nb-card>
          <button (click)="addIngredient()" class="btn-info add-ingredient-btn">ADD</button>
        </nb-card>
        <br/>
        <nb-card>
          <div class="elements-diff-wrapper">
            <table class="table">
              <thead>
              <th>Calories</th>
              <th>Fats</th>
              <th>Carbohydrates</th>
              <th>Proteins</th>
              </thead>
              <tbody>
              <td>
                {{ meal.calories | number: '1.0-2' }}
                <span class="value-deviation"
                      [ngClass]="{'positive': meal.caloriesDiff > 0, 'negative': meal.caloriesDiff < 0}"
                      *ngIf="meal.caloriesDiff != 0">
                  {{meal.caloriesDiff > 0 ? '+' : ''}}{{meal.caloriesDiff | number: '1.0-2'}}
                </span>
              </td>
              <td>
                {{ meal.fats | number: '1.0-2' }}
                <span class="value-deviation"
                      [ngClass]="{'positive': meal.fatsDiff > 0, 'negative': meal.fatsDiff < 0}"
                      *ngIf="meal.fatsDiff != 0">
                  {{meal.fatsDiff > 0 ? '+' : ''}}{{meal.fatsDiff | number: '1.0-2'}}
                </span>
              </td>
              <td>
                {{ meal.carbohydrates | number: '1.0-2' }}
                <span class="value-deviation"
                      [ngClass]="{'positive': meal.carbohydratesDiff > 0, 'negative': meal.carbohydratesDiff < 0}"
                      *ngIf="meal.carbohydratesDiff != 0">
                  {{meal.carbohydratesDiff > 0 ? '+' : ''}}{{meal.carbohydratesDiff | number: '1.0-2'}}
                </span>
              </td>
              <td>
                {{ meal.proteins | number: '1.0-2' }}
                <span class="value-deviation"
                      [ngClass]="{'positive': meal.proteinsDiff > 0, 'negative': meal.proteinsDiff < 0}"
                      *ngIf="meal.carbohydratesDiff != 0">
                  {{meal.proteinsDiff > 0 ? '+' : ''}}{{meal.proteinsDiff | number: '1.0-2'}}
                </span>
              </td>
              </tbody>
            </table>
          </div>
        </nb-card>
        <button [disabled]="formGroup.invalid || !mealIngredients.length" class="submit-btn" (click)="submit()" type="submit" nbButton status="danger">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
