<div class="add-day-form">
  <nb-card class="add-day-card">
    <nb-card-header>
      {{ title }}
      <button aria-disabled="false" tabindex="0"
              class="close-popup-btn appearance-ghost size-medium shape-rectangle icon-start icon-end status-basic ng-star-inserted nb-transition">
        <nb-icon icon="close-outline" pack="nebular-essentials" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="100%" height="100%" viewBox="0 0 24 24">
            <g data-name="Layer 2">
              <g data-name="close">
                <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect>
                <path
                  d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
              </g>
            </g>
          </svg>
        </nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="formGroup">

        <div class="form-group day-name-group">
          <label for="name" class="label">Name</label>
          <input formControlName="name" type="text" nbInput fullWidth id="name" placeholder="">
          <span *ngIf="isControlInvalid('name')" class="validation-error-text">
              <span>*</span> Day name is required
            </span>
        </div>

        <label class="label">Breakfast</label>
        <div class="form-group">
          <ng-select [items]="meals"
                     bindLabel="name"
                     formControlName="breakfast">
          </ng-select>
        </div>

        <label class="label">Snack1</label>
        <div class="form-group">
          <ng-select [items]="meals"
                     bindLabel="name"
                     formControlName="snack1">
          </ng-select>
        </div>

        <label class="label">Lunch</label>
        <div class="form-group">
          <ng-select [items]="meals"
                     bindLabel="name"
                     formControlName="lunch">
          </ng-select>
        </div>

        <label class="label">Snack2</label>
        <div class="form-group">
          <ng-select [items]="meals"
                     bindLabel="name"
                     formControlName="snack2">
          </ng-select>
        </div>

        <label class="label">Dinner</label>
        <div class="form-group">
          <ng-select [items]="meals"
                     bindLabel="name"
                     formControlName="dinner">
          </ng-select>
        </div>

        <button [disabled]="formGroup.invalid" class="submit-btn" (click)="submit()" type="submit" nbButton status="danger">Submit</button>

      </form>
    </nb-card-body>
  </nb-card>
</div>
